{% extends 'base.html' %}
{% load static %}

{% block customcss %}
<link rel="stylesheet" type="text/css" href="{% static 'detail.css' %}">
{% endblock customcss %}

{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-8">
      <img src="{{ object.picture.url }}" alt="ペットの写真">
      <table>
        <tbody>
          <tr>
            <th>投稿者</th>
            <td>{{ object.user.username }}</td>
          </tr>
          <tr>
            <th>タイトル</th>
            <td>{{ object.title }}</td>
          </tr>
          <tr>
            <th>名前</th>
            <td>{{ object.animal_name }}</td>
          </tr>
          <tr>
            <th>詳細</th>
            <td>{{ object.detail }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock content %}