{% extends 'base.html' %}
{% load static %}

{% block customcss %}
<link rel="stylesheet" type="text/css" href="{% static 'detail.css' %}">
{% endblock customcss %}

{% block content %}
<div class="container">
  <h1 style="text-align: center;">以下の投稿を本当に削除しますか？</h1>
  <div class="delete-form_wrapper">
    <form method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" class="btn" value = "削除">
    </form>
    <a href="{% url 'posts:post_detail' object.pk %}" class="btn">戻る</a>
  </div>
  <div class="row justify-content-center">
    <div class="col-sm-5">
      <img src="{{ object.picture.url }}" alt="ペットの写真">
      <table>
        <tbody>
          <tr>
            <th>投稿者</th>
            <td>{{ object.user.username }}</td>
          </tr>
          <tr>
            <th>タイトル</th>
            <td>{{ object.title }}</td>
          </tr>
          <tr>
            <th>名前</th>
            <td>{{ object.animal_name }}</td>
          </tr>
          <tr>
            <th>詳細</th>
            <td>{{ object.detail }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock content %}