img {
  width:100%;
  margin-top: 5vh;
}

.container {
  padding: 10px;
}

table {
  width: 100%;
}

th {
  width: 20%;
  border: solid 1px white;
  color: white;
  background-color: #6f5949;
  padding: 1vw;
}

td {
  width: 80%;
  border: solid 1px black;
  color:black;
}

.btn-wrapper{
  display: flex;
  justify-content: center;
}

.btn-wrapper>a{
  width: 30%;
  margin: 2vh;
  font-weight: bold;
  font-size: large;
}

/* delete用のCSSプロパティです */
.delete-form_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
}

.delete-form_wrapper>form {
  display:inline-block;
  margin:0 2vw;
  padding: 5px;
}

.delete-form_wrapper>form>input {
  width: 6vw;
  font-weight: bold;
}

.delete-form_wrapper>a {
  margin: 0 2vw;
  width: 6vw;
  font-weight: bold;
}

form.like-form {
  margin: 2vh 0;
}

.like-form>button {
  border:solid 1px black;
  border-radius: 16px;
  padding: 0.5vh;
}

.comment_delete_form{
  display: inline-block;
  margin-left: 2vw;
}

.like-btn:focus {
  border-color: #a18068;
  box-shadow: 0 0 0 0.25rem rgba(255, 169, 40, 0.406);
  outline: none;
}


@media (max-width: 599px) {
}