img {
  width:100%;
  margin-top: 5vh;
}

.container {
  padding: 10px;
}

table {
  width: 100%;
}

th {
  width: 20%;
  border: solid 1px white;
  color: white;
  background-color: #6f5949;
  padding: 1vw;
}

td {
  width: 80%;
  border: solid 1px black;
  color:black;
}

.btn-wrapper{
  display: flex;
  justify-content: center;
}

.btn-wrapper>a{
  width: 30%;
  margin: 2vh;
  font-weight: bold;
  font-size: large;
}

@media (max-width: 599px) {
}